<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/"> El menú </a></li>
                    <li><a href="">&copy; LM</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <header>
        <h1> ¿Dónde quedamos? </h1>
        <blockquote>
            <p> Anular : dar de baja a lugares</p>
            <p> ________________________________________________________________________________________________</p>
        </blockquote>
    </header>    
    <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery"></div>
        <a>
        <div class="image-wrapper">
          <img width="200"  height="250" src="http://www.hackeame.net/wp-content/uploads/2010/02/CCleaner.png">
        </div>
        </a> <br />  <br />

    <form action="/elimina" method="post">        
        <p>Titulo    <input type="text" name="titulo"    />  </p>
        <br />
        <button type="submit" id="toggle-fullscreen" href="/bar05" class="btn btn-large btn-primary" data-slideshow="5000" data-toggle="button">Eliminar</button>
   </form> 
</div>
