<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/"> El menú </a></li>
                    <li><a href="">&copy; LM</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <header>
        <h1> ¿Dónde quedamos? </h1>
        <blockquote>
            <p> Registro : actualizar nuevos puntos de encuentro</p>
            <p> ________________________________________________________________________________________________</p>
        </blockquote>
    </header>    
    <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery"></div>
        <a>
        <div class="image-wrapper">
          <img width="200"  height="250" src="http://www.conzentra.com/blog/wp-content/uploads/2012/06/laptop.jpg">
          <img width="200"  height="250" src="http://www.inkanatura.net/images/jose_antonio_lima_hotel_bar.jpg">
        </div>
        </a> <br />  <br />

    <form action="/registra" method="post">
        <p>Nuevo lugar de diversión   </p>
        <p>Titulo    <input type="text" name="titulo"    />        Contenido   <input type="text" name="contenido" /> </p>
        <p>Ubicación </p> 
        <p>Dirección  <input type="text" name="direccion" />  Distrito  <input type="text" name="distrito" /> </p>        
        <p>Latitud        <input type="text" name="latitud"   />    Longitud  <input type="text" name="longitud"  /> </p> 
        <br />
        <button type="submit" id="toggle-fullscreen" href="/bar03" class="btn btn-large btn-primary" data-slideshow="5000" data-toggle="button">Actualizar</button>
   </form> 
</div>
