<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/"> El menú </a></li>
                    <li><a href="">&copy; LM</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <header>
        <h1> ¿Dónde quedamos? </h1>
        <blockquote>
            <p> Iniciar sesión : </p>
            <p> ________________________________________________________________________________________________</p>
        </blockquote>
    </header>    

    <form action="/usuario" method="post">
        <p>Usuario    <input type="text" name="usuario"    /> </p>
        <br />        
        <button type="submit" id="toggle-fullscreen" href="/bar03" class="btn btn-large btn-primary" data-slideshow="5000" data-toggle="button">Aceptar</button>
   </form> 
</div>
