<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> ¿Dónde quedamos? </title>
	<meta name="description" content=" Lugar obligado para la buena diversión">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css">
	<style> 
		body {
    			padding-top: 60px;
    			background: #022;
    			color: #fff;
		}
		header {
    			margin-bottom: 30px;
		}
		header h1 {
    			font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
    			color: #fff;
    			margin-bottom: 10px;
		}
		header a {
    			color: orange;
		}
		.modal {
    		color: #333;
		}
	</style>
	<link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/"> El menú </a></li>
                    <li><a href="">&copy; LM</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <header>
        <h1> ¿Dónde quedamos? </h1>
        <blockquote>
            <p> Registro : actualizar nuevos puntos de encuentro</p>
            <p> ________________________________________________________________________________________________</p>
        </blockquote>
    </header>    
    <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery"></div>
        <a>
        <div class="image-wrapper">
          <img src="http://t0.gstatic.com/images?q=tbn:ANd9GcQw29ChFeTrlMf8tE5MNfm_Pqc_K0w6IXrgZxpfhm4NTiYZMRNk">
        </div>
        </a> <br />  <br />

    <form action="form_action.asp" method="get">
        <p>Código   </p>   <input type="text" name="codigo"    /><br />
        <p>Titulo   </p>   <input type="text" name="titulo"    /><br />
        <p>Contenido</p>   <input type="text" name="contenido" /><br />
        <p>Latitud  </p>   <input type="text" name="latitud"   /><br />
        <p>Longitud </p>   <input type="text" name="longitud"  /><br />
        <br />
        <button id="toggle-fullscreen" href="/bar03" class="btn btn-large btn-primary" data-slideshow="5000" data-toggle="button">Actualizar</button>
   </form> 
</div>



</body> 
</html>
