<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> ¿Dónde quedamos? </title>
               <p><%= $gUsuario %> </p>
	<meta name="description" content=" Lugar obligado para la buena diversión">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css">
	<style> 
		body {
    			padding-top: 60px;
    			background: #022;
    			color: #fff;
		}
		header {
    			margin-bottom: 30px;
		}
		header h1 {
    			font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
    			color: #fff;
    			margin-bottom: 10px;
		}
		header a {
    			color: orange;
		}
		.modal {
    		color: #333;
		}
	</style>
	<link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#"> El menú </a></li>
                    <li><a href="/bar02"> Ruta del Pisco </a></li>
                    <li><a href="/bar04"> Solo chelas </a></li>
                    <li><a href="/bar03"> Nuevos lugares </a></li>
                    <li><a href="/bar05"> Dar de baja a lugares </a></li>
                    <li><a href="/bar06"> Iniciar sesión </a></li>                    
                    <li><a href="">&copy; LM</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <header>
        <h1> ¿Dónde quedamos? </h1>
        <br />
        <blockquote>
            <p> ¿Dónde quedamos? es el lugar obligado para la buena diversión, aquí encontraras las rutas para tu fin de semana  o el día <a href="http://twitter.github.com/bootstrap/javascript.html#modal"> Especial</a>, tenemos la lista más completa de los bares de antaño, los modernos  y aquellos especiales en el arte de los brebajes  <a href="http://twitter.github.com/bootstrap/"> "afrodisiacos"</a>  <br>
	    </p>
            <p> : </p>
            <p> Registra  y comparte otros puntos . </p>
            <p> ________________________________________________________________________________________________</p>
        </blockquote>
    </header>
    <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery"></div>
    <br>
</div>

<div class="top-search-holder">
    <p> Síguenos en las redes sociales </p>
    <ul class="social-wrapper unstyled banner">
        <li class="tweet-btn">
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="¿Dónde quedamos?" data-count="none" >Tweet</a>
        </li>
    </ul>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script>
</div>
<br />

<div class="full-search-bar">
    <ul class="item-stream unstyled search-input-stream">
    <li class="stream-item stream-header search-input-item">
    <form class="form-inline search-form" action="/artists/search">
        <input class="xlarge" class="artist-search" id="artist_search" name="q" type="text" placeholder="Bares" autocomplete="off" value="" />
        <button class="btn btn-large btn-inverse" id="artist_submit" type="submit"><i class="icon-search icon-white"></i></button>
    </form>
    <form accept-charset="UTF-8" action="/playlists" class="playlist-form" id="new_playlist" method="post">
        <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="&#x2713;" />
            <input name="authenticity_token" type="hidden" value="Ma53NGBcEwMCE4e+t3+SfkWs2AS+lmNcAwVVYzOY8T4=" />
        </div>
        <input type="hidden" class="artist-id" name="artist_id" value="" />
    </form>      
    </li>
    </ul>
    <div class="search-status">
        <img src="/assets/circle_loader.gif" class="search-loader" />
    </div>
</div>


<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>Download</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>Previous</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>Next</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>
</div>

<div class="mapa">
     <iframe width="625" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msid=217695024059370418650.0004c9dd40c0f93be5524&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=-12.095388,-77.016048&amp;spn=0.058748,0.107288&amp;z=13&amp;output=embed"></iframe><br />
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://blueimp.github.com/cdn/js/bootstrap.min.js"></script>
<script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>

</body> 
</html>
