<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> ¿Dónde quedamos? </title>
               <p><%= $gUsuario %> </p>
	<meta name="description" content=" Lugar obligado para la buena diversión">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css">
	<style> 
		body {
    			padding-top: 60px;
    			background: #022;
    			color: #fff;
		}
		header {
    			margin-bottom: 30px;
		}
		header h1 {
    			font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
    			color: #fff;
    			margin-bottom: 10px;
		}
		header a {
    			color: orange;
		}
		.modal {
    		color: #333;
		}
	</style>
	<link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
</head>

<body>

<%= yield %>

</body> 
</html>
